:root {
  --bg-color-left: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(215, 219, 224, 1) 74%, rgba(197, 203, 227, 1) 100%);
  --bg-color-right: linear-gradient(90deg, rgba(22, 31, 33, 1) 0%, rgba(34, 38, 54, 1) 50%, rgba(38, 42, 64, 1) 100%);

 --bg-dark-mode: linear-gradient(133deg,rgb(29, 28, 28) 0%, rgb(54, 52, 53) 100%);
 --bg-dark-grey: linear-gradient(133deg,rgb(51, 49, 49) 0%, rgba(70, 68, 68, 0) 100%);
}

  /*font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  */

 /* color: white;
 
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 550;
  font-style: normal;*/


body
{
    background: var(--bg-dark-grey);
}