*
{
    box-sizing:border-box;
}



:root {
  --bg-color-left: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(215, 219, 224, 1) 74%, rgba(197, 203, 227, 1) 100%);
  --bg-color-right: linear-gradient(90deg, rgba(22, 31, 33, 1) 0%, rgba(34, 38, 54, 1) 50%, rgba(38, 42, 64, 1) 100%);

 --bg-dark-mode: linear-gradient(133deg,rgb(29, 28, 28) 0%, rgb(54, 52, 53) 100%);
 --bg-dark-grey: linear-gradient(133deg,rgb(51, 49, 49) 0%, rgba(70, 68, 68, 0) 100%);
}

  /*font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  */

 /* color: white;
 
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 550;
  font-style: normal;*/
a
{
    color:white;
}
h1,h2,h2,h4,h5,a,.quote,#btn
{
   font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal; 
}
p
{
     font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 550;
  font-style: normal 
}
header
{
    display:flex;
    flex-direction:row;
    color:white;
    background:var(--bg-color-right);
    padding:2%;
    margin-bottom:2%;
    justify-content:space-between

}

.text
{
  text-align: center;
  margin-left:35px;
}
#photo-w-me
{
 width: 150px;
 height:150px;
  border-radius:70%;
   box-shadow: 0 0 6px rgba(255, 255, 255, 0.6)
}

#btn
{
  margin-top:1rem;
  text-align: center;
   box-shadow: 0 0 6px rgba(255, 255, 255, 0.6)
}

.red-word
{
    color:red;
}
#author
{
    position:relative;
    top:6px;
    left:6px;
    font-size:0.68rem;
}
.content{
  border-radius: 10px;
  box-shadow: 0 0 6px rgba(0,0,0,0.6);
}

main
{

    display:grid;
    grid-template-columns: 0.85fr 3fr;
    
}
#left
{
    color:white;
   background:var(--bg-color-right);
    margin-right:10px;
    padding:2%;
}


#right
{
   background:var(--bg-color-left);
    margin-right:10px;
    padding:2%;

}
footer
{
    margin-top:2%;
    color:white;
    background:var(--bg-color-right);
}


/* skill bars*/
.skill-bars {
  padding: 5px;
}
.skill-bars h5
{
  font-size:0.65rem;
}
.skill-bars h4 :hover
{
  font-size:1.1rem;
}
.skill-bar-containter {
  position: relative;
  height: 3px;
  margin: 8px 0;
}


.skill-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 2px;
}
.skill-bar.white {
  width: 100%;
  background: #aca9a9;
}

.skill-bar.color {
  width: 90%;
  background: orange;
}
.skill-bar-text {
  display: flex;
  justify-content: space-between;
}
#java-script {
    width: 60%;
    background: orange; 
}
#html {
    width: 60%; 
    background: orange; 
}
#css { 
    width: 50%;
    background: orange; 
}
#sql { 
    width: 70%; 
    background: orange; 
}
#concretization {

    width: 100%;
}
#want-to-study {
    width: 91.4%;
}
#self-management {
    width: 88.2%;
}
#analyzing {
    width: 66.6%;
}
#critical-thinking {
    width: 90.2%;
}
#working-together {
    width: 84.2%;
}
#comunication {
    width: 84.6%;
 }